.DS_Store
vendor/.DS_Store

.bundle
.env
.powrc
.ruby-version

_build/*
index/*
log/*
public/system/*
tmp/*
vendor/ruby/*
/node_modules
/app/assets/*/compiled/
/public/assets/*

config/database.yml
config/initializers/devise.rb
